




head{
    background-color: rgb(207, 179, 187);
    margin:1px;
    padding:3px;


}


body {
    background-color: rgb(241, 237, 238);
    margin:1px;
    padding:3px;
}




button{

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: white;
    border-radius: 8px;
    transition: all 0.5s ease;
    
    }
    
    button:hover{
    
        background-color: rgb(83, 15, 83);
    }
    
    